* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}

.App{
  width: 85vw;
  height: 100vh;
  background: url(./bg.jpg), black;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}


.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
}
