* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg);
  background-position: center;
  background-size: cover;
}



.poke {
  width: 90%;
  margin: auto;
}

.pokemon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-wrapper .item {
  width: 30%;
}

.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination {
  width: 500px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  cursor: pointer;
}
